/* Tabs */
.tabs {
  display: flex;
  margin-bottom: var(--px-lg);
}
.tabs > li {
  flex: 1;
  min-height: var(--btn-xlg2);
  font-size: var(--tab-fsize);
  background-color: #fff;
  border: 1px solid var(--midnight-100);
}
.tabs > li:not(:first-child) {
  margin-left: -1px;
}
.tabs > li.active {
  position: relative;
  font-weight: 600;
  color: #fff;
  background-color: var(--midnight-900);
  border-color: var(--midnight-900);
}
.tabs > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 8px;
  text-align: center;
  line-height: 1.1;
  color: inherit;
}
@media (max-width: 743px) {
  .tabs > li > a > span > i {
    display: block;
  }
}

/* SubCategory */
.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--px-md);
  margin-right: -2px;
}
.filter label {
  position: relative;
  display: flex;
  height: var(--btn-md);
  overflow: hidden;
  margin-right: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 743px) {
  .filter,
  .filter label {
    margin-right: 0;
  }
}
.filter label > input {
  position: absolute;
  left: -100%;
}
.filter label > i {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--btn-md);
  padding: 0 var(--space-sm);
  font-weight: 600;
  letter-spacing: -0.4px;
  border-radius: calc(var(--btn-md) / 2);
}
.filter label > input:checked + i {
  color: #fff;
  background-color: var(--midnight-900);
}
